<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  thread-count="5" >
<listeners>
<listener class-name="org.testngpractice.AutoRerun"></listener>
<listener class-name = "org.testngpractice.CutomReports"></listener>
</listeners>
<!--
	<test name="Test">
		
		<classes>
			<class name="org.testngpractice.TestCases" />
			<class name="org.testngpractice.TestCase2" />
		</classes>
	</test>
	   -->
	<test name="test2">
		<classes>
			<class name="org.testngpractice.TestCases" />
		</classes>
	</test>
</suite> <!-- Suite -->
